.App {
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 200px;
  border: 2px solid black;
  
}
.stream_line_logo {
  position: absolute;
  min-width: 500px;
  min-height: 500px;
  left: 100px

}
.input_containers {
  background-color:#006e8c;
  position: relative;
}
.btn_login {
  text-align: center;
  margin: 0 auto
}
.col_inputs {
  margin-top: 300px !important;
}
.welcome{
  color: black !important;
}
.stream_line_container {
  margin: 0 auto;
}
.row_height {
  height: 80vh;

}
