.navbar_lefty {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15%;
    color: #006e8c;
    font-weight: 500;
    height: 99vh;
    text-align: center;

}

.tabs_container {
    color: white !important;
    text-decoration: none !important;
    background-color: #006e8c !important;
    height: 120vh;
}
.navbar_lefty div {
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid white;
    padding: 10px 5px;
   
}
.navbar_lefty div:hover {
    background-color: white;
    color: #3a83d3;
    border-radius: 10px;
}
.dashboard_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item_container {
    margin: 0 auto;
    min-width: 80%;
    margin-top: 50px;
}
.outlet_container {
   margin-left: 250px;
}

 .navbar {
    background-color:  white;
    color: #006e8c;
    margin-left: 20px;
    position: relative;
    width: 70%;
 }

 .navbar span {
    font-size: 20px;
 }
 .tab_route {
    margin: 10px;
    width: 200px;
    transition: 0.2s;
    padding: 10px 0px;
    color: white;
    text-align: lfet;
    font-weight: bold;
 }
 .dashboard_logo {
   max-width: 10vw;
   max-height: 10vw;
 }
 .tab_route:hover {
    background-color: #004e63;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
 }
 .row_limit {
    max-width:99vw;
    height: 100vh;
 }
 .welcome {
    font-weight: 300;
    text-decoration: wavy;
    width: 200px;
    flex-direction: row;
    display: flex;
    top: 10px;
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 26px;
 }
 .welcome div {
 }
 .navbar_ct div {
   cursor: pointer;
 }
 .icon_ct {
   position: absolute;
   color: white;
   top: 17px;
   left: 40px;
 }
 .tab_ct {
   display: flex;
   flex-direction: row;
   position: relative
 }
 .nostyle {
   text-decoration: none;
 }
 .selected {
   background-color: #004e63;
    font-weight: bold;
    border-radius: 20px;
 }
 .navbar_ct {
   display: flex;
   flex-direction: column;
   background-color: #006e8c;
 }
 .logout {
    color: white;
    position: absolute;
    top: 10px;
    right: 150px;
    cursor: pointer;
 }
 .logout:hover {
    text-decoration: underline;
 }
 
 @media only screen and (max-width: 600px) {
   .col_ct {
      display: none !important;
   }
   .navbar {
      display: flex;
      flex-direction: column;
   }
   .welcome {
      display: none !important;
   }
}